//  Requires keyboardFocus.js to be running
//  See: https://hackernoon.com/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2

//  No outline for non-keyboard input elements
//  Don't do this in a no JS env
html:not(.no-js) {
  *:focus,
  button:focus,
  select:focus {
    outline: 0;
  }
}

html.user-is-tabbing *:focus,
html.user-is-tabbing form input[type="checkbox"]:focus ~ label {
  outline: 2px solid $red--hex !important; /* for non-webkit browsers */
  outline: 2px solid $red--hex !important;
}
