.Gallery {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: var(--ratio);
}

.Gallery-item {
  @include absolute-fill;
  opacity: 0;
  transition: opacity 0.9s $ease-out-quad;
}

.Gallery-item[data-current] {
  opacity: 1;
}

.Gallery-item[data-prev] {
  z-index: 1;
}

.Gallery-item[hidden] {
  display: none;
}

.Gallery img {
  @include absolute-fill;
  object-fit: cover;

  //  Override lazysizes
  &.lazyload,
  &.lazyloading,
  &.lazyloaded {
    opacity: 1;
    transition: none;
  }
}
