.Location {
  @include full-width-container;
  padding-bottom: var(--margin);

  @include media-query(medium) {
    @include basic-grid;
    grid-template-rows: max-content auto;
    row-gap: var(--margin);
  }
}

.Location-title {
  @include media-query(medium, max) {
    @include boxed-title;
    margin-right: auto;
    margin-bottom: var(--margin);
    margin-left: auto;
  }

  @include media-query(medium) {
    grid-row: 1;
    grid-column: 4 / 7;

    //  Take out the row gap
    margin-bottom: calc((var(--margin) * -1) + 4px);

    @include type("section-title-medium");
    font-weight: 900;
    text-transform: uppercase;
  }

  @include media-query(large) {
    @include type("section-title-large");
    margin-bottom: calc((var(--margin) * -1) + 8px);
  }
}

.Location .Gallery {
  margin-bottom: 19px; // assume copy

  @include media-query(medium) {
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    margin-bottom: 0;

    //  Override ratio
    height: 100%;
    min-height: calc((var(--oneColumnOfMaxWidth) * 3) + (var(--gridGap) * 2));
    padding-bottom: 0;
  }
}

.Location-contentTop {
  @include media-query(medium) {
    grid-row: 2;
    grid-column: 4 / 7;

    display: flex;
    flex-direction: column;
  }
}

.Location .Address {
  margin-bottom: 12px;

  @include media-query(medium) {
    flex: 1;
  }
}

.Location .OpeningHours {
  @include media-query(medium) {
    max-width: 400px;
    margin-bottom: calc(var(--margin) - 9px);
  }
}

.Location-tags {
  // <ul>
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 13px;

  @include copy;
  font-weight: 900;
  letter-spacing: 0.01em;

  @include media-query(medium) {
    margin-bottom: -6px; // bring gallery in line with this baseline
  }
}

.Location-tags li {
  display: block;
}

.Location-tags li:not(:last-child):after {
  content: "/";
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.Location-map {
  // <figure>
  margin: 0; // reset

  position: relative;
  margin-bottom: 19px; // assumes copy afterward

  @include media-query(medium) {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }
}

.Location-map > a {
  display: block;
  position: relative;
}

.Location-map img {
  width: 100%;
  height: auto;
}

.Location-map .svg-byron-pin {
  //  Ratio = 1104.58:1067.89
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 48px;

  transform: translateX(-50%) translateY(-100%);
  z-index: 1;
  fill: $black;

  @include media-query(medium) {
    width: 70px;
    height: 68px;
  }
}

.Location-map figcaption {
  // attribution
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 1;

  @include type("copy-smaller");
  text-align: right;
  opacity: 0.5;
}

.Location-map figcaption a {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.Location-contentBottom {
  @include media-query(medium) {
    grid-column: 1 / -1;
  }
}

.Location-mapCaption {
  margin-bottom: 12px;

  @include copy;
  @include copy-styles;
}

.Location-wtw {
  margin-bottom: 12px;

  @include copy;
}

.Location-wtw span {
}

.Location-wtw a {
  font-weight: 900;
  letter-spacing: 0.01em;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.Location-description {
  margin-bottom: 10px;

  @include copy;
  @include copy-styles;

  @include media-query(medium) {
    margin-bottom: 21px;
  }
}

a.Location-back {
  @include product-link;

  color: $red;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.Location-back:before {
  content: "< ";
}
